! special
*.foreground:   #6d8d5f
*.background:   #090604
*.cursorColor:  #6d8d5f

! black
*.color0:       #090604
*.color8:       #9f6d4e

! red
*.color1:       #D36105
*.color9:       #C9372A

! green
*.color2:       #a5995e
*.color10:      #6d8d5f

! yellow
*.color3:       #e6a635
*.color11:      #C0A552

! blue
*.color4:       #18857e
*.color12:      #2e5d66

! magenta
*.color5:       #aa9ec1
*.color13:      #7f7690

! cyan
*.color6:       #57758C
*.color14:      #1DA3C0

! white
*.color7:       #c1c0c0
*.color15:      #918686
