! special
*.foreground:   #6d8d5f
*.background:   #090604
*.cursorColor:  #c1c0c0

! black
*.color0:       #090604
*.color8:       #9f6d4e

! red
*.color1:       #C9372A
*.color9:       #D36105

! green
*.color2:       #a5995e
*.color10:      #6d8d5f

! yellow
*.color3:       #e6a635
*.color11:      #ccae50

! blue
*.color4:       #18857e
*.color12:      #2e5d66

! magenta
*.color5:       #7f7690
*.color13:      #aa9ec1

! cyan
*.color6:       #1DA3C0
*.color14:      #1DA3C0

! white
*.color7:       #918686
*.color15:      #c1c0c0
